openapi: 3.1.0
info:
  title: Nobu A2MCP API
  version: 1.4.0
  description: >-
    Nobu is an AI post-purchase monitoring agent (Agent 5541). Free A2MCP service
    33561 (Nobu Purchase Setup) is registered at https://www.usenobu.xyz/v1/agent.
    Paid service 35958 (Nobu Monitoring Pass, 0.99 USDT) is registered at
    https://www.usenobu.xyz/v1/agent/monitoring-pass — same Production domain,
    distinct path. Canonical service catalogue: src/a2mcp/service-catalogue.ts.
    Successful paid issuance returns protocol_continuation for free Purchase Setup.
    Generic Agent-only first contact returns SERVICE_SELECTION_REQUIRED with both
    services; never assumes a service from Agent ID alone. Target is the only
    retailer currently supported. Target makes the final adjustment decision.
    Observed prices are third-party SerpApi observations.
servers:
  - url: https://www.usenobu.xyz
    description: Sole Production domain (free 33561 + paid 35958)
  - url: http://127.0.0.1:3000
    description: Local Next.js dev only — not external proof
paths:
  /v1/agent:
    get:
      operationId: nobuServiceDiscovery
      summary: Generic Agent 5541 first contact — list both services
      description: >-
        Returns SERVICE_SELECTION_REQUIRED with available_services for 33561
        (free) and 35958 (paid). payment_status is not_required. Calling agents
        must present both services and ask which the user wants; never assume a
        service from Agent ID alone; never ask the user to describe Nobu; never
        inspect payment balance before the paid service is selected.
      responses:
        '400':
          description: Service selection required (both services listed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceSelectionRequired'
    post:
      operationId: nobuPurchaseSetup
      summary: Free Purchase Setup, service discovery, or low-level actions
      description: >-
        Generic / empty first contact returns SERVICE_SELECTION_REQUIRED.
        Machine actions DESCRIBE_SERVICES and SELECT_SERVICE support discovery.
        After an issued Monitoring Pass, the marketplace contract infers each
        internal operation from durable journey state. Incomplete journey calls
        return a conversation contract (status, completed_step, next_action,
        payment_status, second_payment_required, monitoring_active,
        journey_complete, retry_safe, fields, requiredArgs, message, guidance,
        journey_id). Free service never returns HTTP 402 and never sells a pass.
        Legacy low-level action requests remain backward-compatible.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ServiceDiscoveryRequest'
                - $ref: '#/components/schemas/MarketplaceJourneyRequest'
                - $ref: '#/components/schemas/AgentRequest'
                - type: object
                  maxProperties: 0
                  description: Empty validation body; SERVICE_SELECTION_REQUIRED.
      responses:
        '200':
          description: SERVICE_SELECTED, MONITORING_ACTIVE, or low-level success
        '400':
          description: Service selection, marketplace stage input, or invalid input
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ServiceSelectionRequired'
                  - $ref: '#/components/schemas/MarketplaceJourneyInputRequired'
        '401':
          description: Protected legacy action is not authorized
        '404':
          description: Legacy purchase or resource not found
        '429':
          description: Rate limited
        '503':
          description: AI provider or dependency unavailable
  /v1/target-price-check:
    post:
      operationId: checkTargetPriceProtection
      summary: Check a recent Target.com purchase for a possible price drop
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetPriceCheckRequest'
      responses:
        '200':
          description: Structured check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetPriceCheckResponse'
        '400':
          description: Invalid input
        '429':
          description: Rate limited
        '503':
          description: Provider unavailable
  /health:
    get:
      operationId: health
      responses:
        '200':
          description: Service health
components:
  schemas:
    CatalogueService:
      type: object
      required:
        - service_id
        - name
        - price
        - endpoint
        - description
      properties:
        service_id:
          type: integer
          enum: [33561, 35958]
        name:
          type: string
          enum: ["Nobu Purchase Setup", "Nobu Monitoring Pass"]
        price_kind:
          type: string
          enum: [free, paid]
        price:
          type: string
          description: "free or 0.99 USDT"
        price_usdt:
          type: number
        endpoint:
          type: string
          format: uri
        description:
          type: string
        sells_monitoring_pass:
          type: boolean
        activates_monitoring:
          type: boolean
        parameters_required_before_payment:
          type: array
          items:
            type: string
    ServiceSelectionRequired:
      type: object
      description: >-
        Generic Agent-5541 first contact. Source of truth:
        src/a2mcp/service-catalogue.ts buildServiceSelectionRequired().
      required:
        - status
        - agent_id
        - agent_name
        - service_selection_required
        - available_services
        - input_required
        - required_fields
        - fields
        - requiredArgs
        - payment_status
        - monitoring_active
        - journey_complete
        - message
      properties:
        status:
          type: string
          const: SERVICE_SELECTION_REQUIRED
        agent_id:
          type: integer
          const: 5541
        agent_name:
          type: string
          const: Nobu
        service_selection_required:
          type: boolean
          const: true
        available_services:
          type: array
          minItems: 2
          maxItems: 2
          items:
            $ref: '#/components/schemas/CatalogueService'
        input_required:
          type: boolean
          const: true
        required_fields:
          type: array
          prefixItems:
            - type: string
              const: service_id
          minItems: 1
          maxItems: 1
        fields:
          type: array
          prefixItems:
            - type: string
              const: service_id
          minItems: 1
          maxItems: 1
        requiredArgs:
          type: array
          prefixItems:
            - type: string
              const: service_id
          minItems: 1
          maxItems: 1
        payment_status:
          type: string
          const: not_required
        monitoring_active:
          type: boolean
          const: false
        journey_complete:
          type: boolean
          const: false
        auto_invoke:
          type: string
          const: DESCRIBE_SERVICES
        next_action:
          type: string
          const: SELECT_SERVICE
        message:
          type: string
        guidance:
          type: string
    ServiceDiscoveryRequest:
      type: object
      description: Machine protocol for marketplace service discovery.
      oneOf:
        - type: object
          required: [action]
          properties:
            action:
              type: string
              const: DESCRIBE_SERVICES
        - type: object
          required: [action, service_id]
          properties:
            action:
              type: string
              const: SELECT_SERVICE
            service_id:
              type: integer
              enum: [33561, 35958]
    MarketplaceJourneyRequest:
      type: object
      additionalProperties: false
      properties:
        journey_id:
          type: string
          pattern: '^journey_[a-f0-9]{32}$'
        monitoring_pass_id:
          type: string
        pass_continuation_id:
          type: string
        confirm_use_pass:
          type: boolean
        purchase_description:
          type: string
        candidate_id:
          type: string
        email:
          type: string
          format: email
        verification_code:
          type: string
          pattern: '^\\d{6}$'
        monitoring_consent:
          type: boolean
        email_alert_consent:
          type: boolean
      anyOf:
        - required: [monitoring_pass_id]
        - required: [pass_continuation_id]
        - required: [journey_id]
    MarketplaceJourneyInputRequired:
      type: object
      additionalProperties: false
      required: [status, journey_id, fields, requiredArgs, message]
      properties:
        status:
          type: string
          const: input_required
        journey_id:
          type: string
        fields:
          type: array
          minItems: 1
          items:
            type: string
            enum:
              - monitoring_pass_id
              - pass_continuation_id
              - confirm_use_pass
              - purchase_description
              - candidate_id
              - email
              - verification_code
              - monitoring_consent
              - email_alert_consent
              - journey_id
        requiredArgs:
          type: array
          minItems: 1
          items:
            type: string
        message:
          type: string
    TargetPriceCheckRequest:
      type: object
      required:
        - target_product_url
        - purchase_price
        - currency
        - purchase_date
        - country
        - purchase_channel
      properties:
        target_product_url:
          type: string
          format: uri
        purchase_price:
          type: number
          exclusiveMinimum: 0
        currency:
          type: string
          const: USD
        purchase_date:
          type: string
          format: date
        country:
          type: string
          const: US
        region:
          type: string
          description: U.S. state or territory code
        purchase_channel:
          type: string
          const: target_online
        model_number:
          type: string
        upc_or_gtin:
          type: string
        target_item_id:
          type: string
        user_confirmed_match_id:
          type: string
          description: Optional locked fingerprint from prior candidate confirmation
    TargetPriceCheckResponse:
      type: object
      required:
        - status
        - policy_id
        - price_source_type
        - final_decision_by
        - checked_at
      properties:
        status:
          type: string
          enum:
            - PRICE_DROP_DETECTED
            - POTENTIALLY_ELIGIBLE
            - NO_PRICE_DROP
            - WINDOW_EXPIRED
            - MATCH_REVIEW_REQUIRED
            - NO_RELIABLE_PRICE
            - POLICY_EXCLUSION
            - UNSUPPORTED_PURCHASE
            - POLICY_STALE
            - DATA_SOURCE_UNAVAILABLE
        purchase_price:
          type: number
        observed_target_price:
          type: number
        potential_recovery:
          type: number
        currency:
          type: string
        days_remaining:
          type: integer
        matched_product:
          type: object
          additionalProperties: true
        price_source_type:
          type: string
          const: THIRD_PARTY_SEARCH_OBSERVATION
        provider:
          type: string
          const: SerpApi
        policy_id:
          type: string
          const: target-us-online-price-match-v1
        checked_at:
          type: string
          format: date-time
        official_next_action:
          type: object
          properties:
            online_chat:
              type: boolean
            guest_services_phone:
              type: string
        final_decision_by:
          type: string
          const: Target
        disclaimer:
          type: string
        policy_version:
          type: string
          description: Approved policy version (backward-compatible extension)
        policy_verified_at:
          type: string
          format: date-time
          description: Last approved source-check timestamp (backward-compatible extension)
        policy_review_state:
          type: string
          description: Operational review state CURRENT|CHECK_DUE|SOURCE_UNAVAILABLE|CHANGE_DETECTED|REVIEW_REQUIRED|RETIRED
        policy_warning:
          type: string
          nullable: true
          description: Visible policy-review warning when review is due or blocked
        eligibility_suppressed:
          type: boolean
          description: True when positive eligibility was suppressed pending policy owner review
    DiscoveryPurchaseFields:
      type: object
      additionalProperties: false
      required: [purchase_price, purchase_date]
      properties:
        purchase_price:
          type: number
          exclusiveMinimum: 0
        purchase_date:
          type: string
        purchase_channel:
          type: string
          const: target_online
        country:
          type: string
          const: US
        region:
          type: string
        product_title:
          type: string
          maxLength: 200
        product_description:
          type: string
          maxLength: 2000
        target_product_url:
          type: string
        target_item_id:
          type: string
        model_number:
          type: string
        upc_or_gtin:
          type: string
        brand:
          type: string
        size:
          type: string
        color:
          type: string
        quantity:
          type: string
    AgentRequest:
      oneOf:
        - type: object
          required: [action, purchase_text]
          additionalProperties: false
          properties:
            action:
              type: string
              const: UNDERSTAND_PURCHASE
            purchase_text:
              type: string
              maxLength: 2000
        - type: object
          required:
            - action
            - target_product_url
            - purchase_price
            - currency
            - purchase_date
            - country
            - purchase_channel
          additionalProperties: false
          properties:
            action:
              type: string
              const: CHECK_CONFIRMED_PURCHASE
            target_product_url:
              type: string
              format: uri
            purchase_price:
              type: number
            currency:
              type: string
              const: USD
            purchase_date:
              type: string
              format: date
            country:
              type: string
              const: US
            region:
              type: string
            purchase_channel:
              type: string
              const: target_online
            model_number:
              type: string
            upc_or_gtin:
              type: string
            target_item_id:
              type: string
            user_confirmed_match_id:
              type: string
        - type: object
          required: [action, purchase_id]
          additionalProperties: false
          properties:
            action:
              type: string
              const: CHECK_MONITORING_STATUS
            purchase_id:
              type: string
            connection_id:
              type: string
              description: Required for account-owned / agent monitors
            connection_token:
              type: string
              description: Secret credential; never log or return after mint
        - type: object
          required: [action, email]
          additionalProperties: false
          properties:
            action:
              type: string
              const: BEGIN_EMAIL_VERIFICATION
            email:
              type: string
              maxLength: 254
        - type: object
          required: [action, connection_id, code]
          additionalProperties: false
          properties:
            action:
              type: string
              const: VERIFY_EMAIL_CODE
            connection_id:
              type: string
            code:
              type: string
              minLength: 6
              maxLength: 32
        - type: object
          required: [action, connection_id, connection_token]
          additionalProperties: false
          properties:
            action:
              type: string
              const: REVOKE_AGENT_CONNECTION
            connection_id:
              type: string
            connection_token:
              type: string
        - type: object
          required: [action, purchase]
          additionalProperties: false
          properties:
            action:
              type: string
              const: DISCOVER_PRODUCT
            purchase:
              $ref: '#/components/schemas/DiscoveryPurchaseFields'
        - type: object
          required: [action, discovery_session_id, candidate_id]
          additionalProperties: false
          properties:
            action:
              type: string
              const: CONFIRM_PRODUCT
            discovery_session_id:
              type: string
            candidate_id:
              type: string
        - type: object
          required:
            - action
            - connection_id
            - connection_token
            - discovery_session_id
            - monitoring_consent
            - email_alert_consent
          additionalProperties: false
          properties:
            action:
              type: string
              const: PREFLIGHT_MONITORING
            connection_id:
              type: string
            connection_token:
              type: string
            discovery_session_id:
              type: string
            monitoring_consent:
              type: boolean
            email_alert_consent:
              type: boolean
        - type: object
          required: [action, connection_id, connection_token]
          additionalProperties: false
          properties:
            action:
              type: string
              const: LIST_ACTIVE_MONITORS
            connection_id:
              type: string
            connection_token:
              type: string
        - type: object
          required: [action, connection_id, connection_token, purchase_id]
          additionalProperties: false
          properties:
            action:
              type: string
              const: ENABLE_EMAIL_ALERTS
            connection_id:
              type: string
            connection_token:
              type: string
            purchase_id:
              type: string
        - type: object
          required: [action, connection_id, connection_token, purchase_id]
          additionalProperties: false
          properties:
            action:
              type: string
              const: DISABLE_EMAIL_ALERTS
            connection_id:
              type: string
            connection_token:
              type: string
            purchase_id:
              type: string
        - type: object
          required: [action, connection_id, connection_token, purchase_id]
          additionalProperties: false
          properties:
            action:
              type: string
              const: STOP_MONITORING
            connection_id:
              type: string
            connection_token:
              type: string
            purchase_id:
              type: string
        - type: object
          description: >-
            Lane 8R.3B — redeems a paid Nobu Monitoring Pass bought at
            POST /v1/agent/monitoring-pass. Every identity, confirmation,
            eligibility and consent gate is enforced here; a failed redemption
            never consumes the pass, and one pass activates exactly one monitor.
          required:
            - action
            - monitoring_pass_id
            - quote_id
            - connection_id
            - connection_token
          additionalProperties: false
          properties:
            action:
              type: string
              const: REDEEM_MONITORING_PASS
            monitoring_pass_id:
              type: string
            quote_id:
              type: string
              description: From a prior PREFLIGHT_MONITORING MONITORING_PAYMENT_READY response.
            connection_id:
              type: string
            connection_token:
              type: string
        - type: object
          description: >-
            Customer-safe Monitoring Pass handoff after paid settlement.
            Provide exactly one of pass_continuation_id or monitoring_pass_id.
            Never charges again and never starts monitoring.
          required: [action]
          additionalProperties: false
          properties:
            action:
              type: string
              const: RESOLVE_MONITORING_PASS
            pass_continuation_id:
              type: string
              description: High-entropy continuation from the paid pending/issued response.
            monitoring_pass_id:
              type: string
              description: Public pass id once issued (not a redemption bearer alone).
